{% extends "base.html" %} {% block title %}Chores{% endblock %} {% block content%}
<h1 align="center">Chores</h1>
<ul class="list-group list-group-flush" id="notes">
   {% for chores in user.chores %}
   <li class="list-group-item">
<!-- chore.data needed to be chore's'.data with an 's' at the end -_- -->
      {{ chores.data }}
      <button type="button" class="close">
      <span aria-hidden="true">&times;</span>
      </button>
   </li>
   {% endfor %}
</ul>
<form method="POST">
   <textarea name="chore" id="chore" class="form-control"></textarea>
   <br />
   <div align="center">
      <button type="submit" class="btn btn-primary">Add Chore</button>
   </div>
</form>
{% endblock %}