{% extends "base.html" %} {% block title %}Maids{% endblock %} {% block content%}
<h1 align="center">Maids</h1>
<ul class="list-group list-group-flush" id="notes">
   {% for maid, chore in maids_chores.items() %}
   <li class="list-group-item">
      {{maid}}
      <button type="button" class="close">
      <span aria-hidden="true">&times;</span>
      </button>
   </li>
   {% endfor %}
</ul>
<form method="POST">
   <textarea name="maid" id="maid" class="form-control"></textarea>
   <br />
   <div align="center">
      <button type="submit" class="btn btn-primary">Add Maid</button>
   </div>
</form>
<br>
<div align="center">
   <button class="btn btn-primary">Auto-assign</button>
</div>
{% endblock %}