{% extends "base.html" %} {% block title %}Add{% endblock %} 
{% block content%}
<br>
<br>
<div>
   <h1 align="center">{{thisMonth}}</h1>
   <br>
   <br>
   <br>
   <h4 align="center">Add maids & chores</h4>
   <form method ="POST">
      <div class="form-group mb-2">
         <label  for="maid name">Maid name: </label>
         <input  class="form-control"type="text" name="maid">
      </div>
      <div class="form-group mb-2">
         <label  for="maid chore">Chore: </label>
         <input  class="form-control"type="text" name="chore">
      </div>
      <div>
         <button type="submit" class="btn btn-primary">Add</button>
      </div>
   </form>
   <br>
   <br>
   <hr>
   <br>
   <br>
   <table class="table">
      <thead>
         <tr>
            <th scope="col" style = "font-size: 20px">Maid</th>
            <th scope="col" style = "font-size: 20px">Chore</th>
         </tr>
      </thead>
      <tbody>
         {% for maid in mquery %}
         <tr>
            <th scope="row">{{maid.maid}}</th>
            <td>{{maid.chore}} </td>
         </tr>
         {%endfor%}
      </tbody>
   </table>
   <br>
   <form action= "{{url_for('views.clearch')}}">
     <button type="submit" class="btn btn-primary">Clear Table</button>
   </form>
</div>
<br>
{% endblock %}