{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%}
<h1 align="center">Welcome to the Chore app!</h1>
<br>
<br>
<p align="center">Hello Maids, get to work</p>
<table class="table">
   <thead>
      <tr>
         <th scope="col">Maid</th>
         <th scope="col">Chore</th>
      </tr>
   </thead>
   <tbody>
      {%for chores in user.chores %}
      <tr>
         <th scope="row">Anthony</th>
         <td>{{ chores.data }}</td>
      </tr>
      {%endfor%}
   </tbody>
</table>
{% endblock %}