{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%}
<br>
<br>
<div align = "center">
   <h1 align="center">{{thisMonth}}</h1>
   <br>
   <p align="center">Hello Maids, get to work.</p>
   <br>
   <br>
   <table class="table">
      <thead>
         <tr>
            <th scope="col" style = "font-size: 20px">Maid</th>
            <th scope="col" style = "font-size: 20px">Chore</th>
         </tr>
      </thead>
      <tbody>
         {% for maid in mquery %}
         <tr>
            <th scope="row">{{maid.maid}}</th>
            <td>{{maid.chore}}</td>
         {%endfor%}
         </tr>
      </tbody>
   </table>
   <a href="/requirements">Requirements</a>
</div>
<br>
<br>
{% endblock %}