{% extends "base.html" %} {% block title %}Requirements{% endblock %} 
{% block content%}
<br>
<br>
<div align = "center">
   <h1 align="center">Requirements</h1>
</div>
<br>
<br>
<div>
  <h4><u>Do Everyday before 9 pm (which also includes the weekend)</u></h4>
  <p>Floors - Sweep all wood floors (and at the front door)</p>
  <p>Trash - Dump all house trashcans and recycling</p>
  <p>Bedroom - Fix bed and straighten room</p>
</div>
<br>
<div>
  <h4><u>Do once a week before 9 pm</u></h4>
  <p>Floors - Mop all wood/ Vacuum all rugs & carpet (also laundry room, front door, & dining room)</p>
  <p>Trash/Recycling - Take to curb</p>
  <p>Bathroom - Clean tub/shower, toilets, sinks, floors, and mirrors</p>
</div>
{% endblock %}